<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.noomn.mapper.vo.DepartmentVoMapper">
  <resultMap id="BaseResultMap" type="cn.com.noomn.vo.DepartmentVo">
    <id column="DEPARTMENT_ID" jdbcType="VARCHAR" property="departmentId" />
    <result column="DEPARTMENT_NAME" jdbcType="VARCHAR" property="departmentName" />
    <result column="DEPARTMENT_INIT" jdbcType="INTEGER" property="departmentInit" />
  </resultMap>
  
  <resultMap id="departmentAndEmployee" type="cn.com.noomn.vo.DepartmentVo">
    <id column="DEPARTMENT_ID" jdbcType="VARCHAR" property="departmentId" />
    <result column="DEPARTMENT_NAME" jdbcType="VARCHAR" property="departmentName" />
    <result column="DEPARTMENT_INIT" jdbcType="INTEGER" property="departmentInit" />
    
<!--     <collection property="employeeVoList" resultMap="cn.com.noomn.mapper.vo.EmployeeVoMapper.BaseResultMap"></collection> -->
    <collection property="employeeVoList" resultMap="cn.com.noomn.mapper.vo.EmployeeVoMapper.roleEmployeeDepartment"></collection>
  </resultMap>
  
  <select id="selectForNimble" parameterType="cn.com.noomn.vo.DepartmentVo" resultMap="BaseResultMap">
  	select * from department
  	<where>
		<if test="departmentId != null">
			and
			DEPARTMENT_ID = #{departmentId,jdbcType=VARCHAR}
		</if>
		<if test="departmentName != null">
			and
			DEPARTMENT_NAME = #{departmentName,jdbcType=VARCHAR}
		</if>
		<if test="departmentInit != null">
			and
        	DEPARTMENT_INIT = #{departmentInit,jdbcType=INTEGER}
      </if>
  	</where>
  </select>
  
  <select id="selectDepartmentAndEmployee" parameterType="cn.com.noomn.vo.DepartmentVo" resultMap="departmentAndEmployee">
  	select department.*,employee.*,userrole.*
	from 
	department left join employee 
	on  
	department.DEPARTMENT_ID = employee.DEPARTMENT_ID_EMPLOYEE
	left join userrole
	ON
	employee.USERROLE_ID_EMPLOYEE = userrole.USERROLE_ID
	<where>
		<if test="departmentId != null">
			AND DEPARTMENT_ID = #{departmentId,jdbcType=VARCHAR}
		</if>
	</where>
  </select>
  
  <delete id="deleteDepartmentListByPrimaryKey" parameterType="cn.com.noomn.vo.DepartmentVo">
  	delete from department 
	where
	department.DEPARTMENT_ID 
	in
	<foreach collection="list" item="departmentVo" open="(" close=")" separator=",">
		#{departmentVo.departmentId}
	</foreach>
  </delete>
  
  <select id="selectBeUsedDepartmentId" resultType="java.lang.String">
  	select DISTINCT employee.DEPARTMENT_ID_EMPLOYEE from employee
  </select>
  
  <select id="selectDepartmentId" resultType="java.lang.String">
  	select department.DEPARTMENT_ID from department
  </select>
</mapper>