<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.noomn.mapper.vo.EmployeeVoMapper">
  <resultMap id="BaseResultMap" type="cn.com.noomn.vo.EmployeeVo">
    <id column="EMPLOYEE_ID" jdbcType="VARCHAR" property="employeeId" />
    <result column="EMPLOYEE_ENTRYDATE" jdbcType="TIMESTAMP" property="employeeEntrydate" />
    <result column="DEPARTMENT_ID" jdbcType="VARCHAR" property="departmentId" />
    <result column="USERROLE_ID" jdbcType="VARCHAR" property="userroleId" />
    <result column="NEXT_DEP_DEPARTMENT_ID" jdbcType="VARCHAR" property="nextDepDepartmentId" />
    <result column="EMPLOYEE_NUMBER" jdbcType="VARCHAR" property="employeeNumber" />
    <result column="EMPLOYEE_REAL_NAME" jdbcType="CHAR" property="employeeRealName" />
    <result column="EMPLOYEE_SEX" jdbcType="CHAR" property="employeeSex" />
    <result column="EMPLOYEE_EMAIL" jdbcType="VARCHAR" property="employeeEmail" />
    <result column="EMPLOYEE_PHONE" jdbcType="VARCHAR" property="employeePhone" />
    <result column="EMPLOYEE_ADDRESS" jdbcType="VARCHAR" property="employeeAddress" />
    <result column="EMPLOYEE_BIRTHDAY" jdbcType="TIMESTAMP" property="employeeBirthday" />
    <result column="EMPLOYEE_IDNUMBER" jdbcType="VARCHAR" property="employeeIdnumber" />
    <result column="EMPLOYEE_STATE" jdbcType="CHAR" property="employeeState" />
    <result column="EMPLOYEE_USERNAME" jdbcType="VARCHAR" property="employeeUsername" />
    <result column="EMPLOYEE_PASSWORD" jdbcType="VARCHAR" property="employeePassword" />
    <result column="EMPLOYEE_INSTRUCT" jdbcType="VARCHAR" property="employeeInstruct" />
    <result column="EMPLOYEE_USEFUL_TIME" jdbcType="TIMESTAMP" property="employeeUsefulTime" />
  </resultMap>

	<select id="selectForlogin" parameterType="cn.com.noomn.vo.EmployeeVo"
		resultMap="BaseResultMap">
		select * from employee where EMPLOYEE_USERNAME = #{employeeUsername} and
		EMPLOYEE_PASSWORD = #{employeePassword}
	</select>

	<!-- 根据vo已经赋值的属性（所有已经赋值的属性）查询 -->
	<select id="selectForNimble" parameterType="cn.com.noomn.vo.EmployeeVo" resultMap="BaseResultMap">
		select * from employee
		<where>
			<if test="employeeId != null">
				and
				EMPLOYEE_ID = #{employeeId,jdbcType=VARCHAR}
			</if>
			<if test="employeeEntrydate != null">
				and
				EMPLOYEE_ENTRYDATE = #{employeeEntrydate,jdbcType=TIMESTAMP}
			</if>
			<if test="departmentId != null">
				and
				DEPARTMENT_ID = #{departmentId,jdbcType=VARCHAR}
			</if>
			<if test="userroleId != null">
				and
				USERROLE_ID = #{userroleId,jdbcType=VARCHAR}
			</if>
			<if test="nextDepDepartmentId != null">
				and
				NEXT_DEP_DEPARTMENT_ID = #{nextDepDepartmentId,jdbcType=VARCHAR}
			</if>
			<if test="employeeNumber != null">
				and
				EMPLOYEE_NUMBER = #{employeeNumber,jdbcType=VARCHAR}
			</if>
			<if test="employeeRealName != null">
				and
				EMPLOYEE_REAL_NAME = #{employeeRealName,jdbcType=CHAR}
			</if>
			<if test="employeeSex != null">
				and
				EMPLOYEE_SEX = #{employeeSex,jdbcType=CHAR}
			</if>
			<if test="employeeEmail != null">
				and
				EMPLOYEE_EMAIL = #{employeeEmail,jdbcType=VARCHAR}
			</if>
			<if test="employeePhone != null">
				and
				EMPLOYEE_PHONE = #{employeePhone,jdbcType=VARCHAR}
			</if>
			<if test="employeeAddress != null">
				and
				EMPLOYEE_ADDRESS = #{employeeAddress,jdbcType=VARCHAR}
			</if>
			<if test="employeeBirthday != null">
				and
				EMPLOYEE_BIRTHDAY = #{employeeBirthday,jdbcType=TIMESTAMP}
			</if>
			<if test="employeeIdnumber != null">
				and
				EMPLOYEE_IDNUMBER = #{employeeIdnumber,jdbcType=VARCHAR}
			</if>
			<if test="employeeState != null">
				and
				EMPLOYEE_STATE = #{employeeState,jdbcType=CHAR}
			</if>
			<if test="employeeUsername != null">
				and
				EMPLOYEE_USERNAME = #{employeeUsername,jdbcType=VARCHAR}
			</if>
			<if test="employeePassword != null">
				and
				EMPLOYEE_PASSWORD = #{employeePassword,jdbcType=VARCHAR}
			</if>
			<if test="employeeInstruct != null">
				and
				EMPLOYEE_INSTRUCT = #{employeeInstruct,jdbcType=VARCHAR}
			</if>
			<if test="employeeUsefulTime != null">
				and
				EMPLOYEE_USEFUL_TIME = #{employeeUsefulTime,jdbcType=TIMESTAMP}
			</if>
		</where>
	</select>

	
</mapper>
    