<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.noomn.mapper.vo.EmployeeVoMapper">
  <resultMap id="BaseResultMap" type="cn.com.noomn.vo.EmployeeVo">
    <id column="EMPLOYEE_ID" jdbcType="VARCHAR" property="employeeId" />
    <result column="DEPARTMENT_ID_EMPLOYEE" jdbcType="VARCHAR" property="departmentIdEmployee" />
    <result column="USERROLE_ID_EMPLOYEE" jdbcType="VARCHAR" property="userroleIdEmployee" />
    <result column="EMPLOYEE_USERNAME" jdbcType="VARCHAR" property="employeeUsername" />
    <result column="EMPLOYEE_PASSWORD" jdbcType="VARCHAR" property="employeePassword" />
    <result column="EMPLOYEE_NUMBER" jdbcType="VARCHAR" property="employeeNumber" />
    <result column="EMPLOYEE_REAL_NAME" jdbcType="VARCHAR" property="employeeRealName" />
    <result column="EMPLOYEE_EMAIL" jdbcType="VARCHAR" property="employeeEmail" />
    <result column="EMPLOYEE_PHONE" jdbcType="VARCHAR" property="employeePhone" />
    <result column="EMPLOYEE_INIT" jdbcType="INTEGER" property="employeeInit" />
    <result column="EMPLOYEE_INSTRUCT" jdbcType="VARCHAR" property="employeeInstruct" />
    <result column="EMPLOYEE_USEFUL_TIME" jdbcType="TIMESTAMP" property="employeeUsefulTime" />
  </resultMap>

	<select id="selectForlogin" parameterType="cn.com.noomn.vo.EmployeeVo"
		resultMap="BaseResultMap">
		select * from employee where EMPLOYEE_USERNAME = #{employeeUsername} and
		EMPLOYEE_PASSWORD = #{employeePassword}
	</select>

	<!-- 根据vo已经赋值的属性（所有已经赋值的属性）查询 -->
	<select id="selectForNimble" parameterType="cn.com.noomn.vo.EmployeeVo" resultMap="BaseResultMap">
		select * from employee
		<where>
			<if test="employeeId != null">
				and
				EMPLOYEE_ID = #{employeeId,jdbcType=VARCHAR}
			</if>
			<if test="departmentIdEmployee != null">
				and
				DEPARTMENT_ID_EMPLOYEE = #{departmentIdEmployee,jdbcType=VARCHAR}
			</if>
			<if test="userroleIdEmployee != null">
				and
				USERROLE_ID_EMPLOYEE = #{userroleIdEmployee,jdbcType=VARCHAR}
			</if>
			<if test="employeeUsername != null">
				and
				EMPLOYEE_USERNAME = #{employeeUsername,jdbcType=VARCHAR}
			</if>
			<if test="employeePassword != null">
				and
				EMPLOYEE_PASSWORD = #{employeePassword,jdbcType=VARCHAR}
			</if>
			<if test="employeeNumber != null">
				and
				EMPLOYEE_NUMBER = #{employeeNumber,jdbcType=VARCHAR}
			</if>
			<if test="employeeRealName != null">
				and
				EMPLOYEE_REAL_NAME = #{employeeRealName,jdbcType=VARCHAR}
			</if>
			<if test="employeeEmail != null">
				and
				EMPLOYEE_EMAIL = #{employeeEmail,jdbcType=VARCHAR}
			</if>
			<if test="employeePhone != null">
				and
				EMPLOYEE_PHONE = #{employeePhone,jdbcType=VARCHAR}
			</if>
			<if test="employeeInit != null">
				and
				EMPLOYEE_INIT = #{employeeInit,jdbcType=INTEGER}
			</if>
			<if test="employeeInstruct != null">
				and
				EMPLOYEE_INSTRUCT = #{employeeInstruct,jdbcType=VARCHAR}
			</if>
			<if test="employeeUsefulTime != null">
				and
				EMPLOYEE_USEFUL_TIME = #{employeeUsefulTime,jdbcType=TIMESTAMP}
			</if>
		</where>
	</select>
</mapper>
    